@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* globals.css */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #0f0f0f;
  color: #ffffff;
}
